.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  align-items: center;
  max-width: 65%;
  margin: auto;
  padding: 30px;
  background-color: rgb(237, 245, 249);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.title {
  text-align: center;
  color: #c0930e;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  /* max-width: 400px; Optional: To prevent the form from becoming too wide on large screens */
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #fa8cb4;
  color: white;
}

.btn-primary:hover {
  background-color: #d47799;
}

.btn-answer {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: #dcd79c;
  color: #333;
  text-align: left;
  padding: 15px;
}

.btn-answer:hover {
  background-color: #b5b079;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.question-number {
  font-size: 18px;
  color: #666;
}

.timer {
  font-size: 16px;
  color: #fa8cb4  ;
  font-weight: bold;
}

.question-text {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.answers-container {
  margin-top: 20px;
}

.result-container {
  /* display: flex;
  flex-direction: column; */
  max-width: 65%;
 align-items: center;
  background-color: rgb(237, 245, 249);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}

.result-item {
  font-size: 18px;
  margin-bottom: 10px;
}

.result-value {
  font-weight: bold;
  color: #c0930e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
